#helloworld{
    width: 100%;}
body{
    background-color: #C6CF9B;
}

#everything{
    width: 50%;
    margin: 25%;
}
.text{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0px;
    color: black;
    font-family: 'Montserrat', sans-serif;}

#headerone{
    font-size: 30px;
    text-transform: uppercase;
}

#paragraphone{
    font-size: 20px;
    color:black;
}
img{
}